body {
  background-color: azure;
}

/*Color & Alineado*/

 .sombracolor{
  color: #e00e38;
  text-align: justify;
  /*Text decoration,alig*/
  text-indent: 20px;
  line-height: 2;
  /*Word spacing y text Shadown*/
  word-spacing: 10px;
  text-shadow: 5px  2px  4px rgba(47, 0, 216, 0.925) ;
}
/*Text decoration,alig*/

a {
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1em; /*1 em = 16px*/
  
}

/*Tipos de fuentes*/

p.fuente{
    font-family: Times New Roman;
    font-style: italic ;
    font-size:1em;
    font-weight: 900;
}