body {
  background-color: azure;
}

.caja {
  margin: 8px;
  padding: 8px;
  border-style: solid;
  border-width: 8px;
  border-color: blue;
  border-left: 6px dotted red ;
  border-radius: 8px;
  height: 100px;
  width: 100px;
  color: red;
  background-color: yellow;
}
