body {
  background-color: gray;
}

.caja {
  background-color: beige;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 2px;
  border-top: solid 0px;
}

.contenido {
  padding: 10px;
}

.header {
  padding: 10px;
  border-bottom: solid 1px gray;
}

.footer {
  padding: 10px;
  border-top: solid 1px gray;
}

.aceptar {
  background-color: blue;
  color: beige;
  padding: 5px;
  border: 0px;
}

.cancelar {
  background-color: grey;
  color: beige;
  padding: 5px;
  border: 0px;
}
